//drop-down
.menu-bar {
  //flex
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: $spc-20;

  //padding
  padding: $spc-20;

  //button and drop-down menu inclusive
  .drop-down {
    color: $color-gray;
    display: flex;
    flex-direction: column;

    //The button to open the dropdown
    .drop-down-button {
      cursor: pointer;
      transition: background-color 0.5s ease;
      color: $color-white;
      background-color: $color-gray;

      &:hover {
        background-color: $color-green;
        color: $color-gray;
      }

      p {
        padding: 10px;
      }
    }

    //the items revealed after clicking the drop-down
    .drop-down-items {
      transition: height 0.5s, padding 0.5s;
      overflow: hidden;

      border: 1px solid $color-gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      //margin and gap
      padding: $spc-10;
      gap: $spc-10;

      &.hidden {
        padding: 0px;
        height: 0;
      }
    }
  }
}

//mobile menu
.openable-menu {
  background: $color-gray;
  position: absolute;
  display: block;
  max-width: 50%;
  width: 0%;
  overflow: hidden;

  transition: width 0.25s;

  &.revealed {
    width: 50%;
  }

  .sub-menu {
    border: 1px solid $color-white;
    width: 100vw;
    .sub-title {
      border-bottom: 2px solid $color-white;
      padding: $spc-10;
      transition: background-color 0.25s, color 0.25s;

      &:hover {
        background-color: $color-green;
        color: $color-gray;
      }
    }
    .expandable-items {
      overflow: hidden;
      padding-left: $spc-10;
      padding-top: $spc-10;
      height: 0px;
      padding: 0;

      transition: height 0.25s, padding 0.25s;

      &.revealed {
        height: 100%;
        padding-bottom: $spc-10;
      }
    }
  }
}
